*{
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    margin: 0;
    padding: 0;
}
.decoration{
    display: flex;
    width: 100%;
}
h1{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
}
span{
    color: coral;
}
#border{
    border-left: 5px red solid;
    border-radius: 5px;
    padding-left: 20px;
}
.property{
    width: 50%;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    text-align: justify;
}
.property img{
    width: 60%;
}
.button{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 15px;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: crimson;
}


h2{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 60px 0 40px 0;
}
#mission{
    background-color: 	#ffffe0;
    border-radius: 20px;
    padding: 0 30px 0 30px ;
}
#mission p{
    margin-top: 20px;
}
#vission{
    background-color: #fff0f5;
    border-radius: 20px;
    padding: 0 30px 0 30px ;
}
#vission p{
    margin-top: 20px;
}
#goal{
    background-color: #dcffec;
    border-radius: 20px;
    padding: 0 30px 0 30px ;
}
#goal p{
    margin-top: 20px;
}